@charset "utf-8";



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format(OpenType);
}

:root {
    --cor0: #c5edb6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif
}

* {
    margin: 0px;
}

body {
    font-family: var(--fonte0);
    color: black;
    background-color: var(--cor1);
}

header {
    color: white;
    background-image: linear-gradient(180deg, var(--cor3), var(--cor4), var(--cor5));
    padding: 10px 0px;

}

header > h1, header > p {
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

header > p {
    padding: 20px;
}
nav > a {
    padding: 10px;

}

#nome-site {
    font-size: 2.5em;

}

main{
    background-color: white;
    min-width: 400px;
    max-width: 800px;

    line-height: 1.5em;

    margin: auto;
    padding: 20px;
}

div.video {
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
}


aside > h3{
    background-color: #063D1E;
    color: white;
}

picture {
    margin: auto;
}


.fonte-especial{
    font-family: 'Android';
}

p {
    text-align: justify;
}

nav > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav > a:hover{
    background-color: var(--cor2);
    transition: 1s;
}

ul {
    list-style-type: '\2714\00020\0020';
    columns: 2;
    list-style-position: inside;
}

footer {
    background-color: #063D1E;
    color: white;
    text-align: center;
}

footer > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > a:hover {
    text-decoration: underline;
}